<h1>Cryptocurrency Exchange Rate</h1>
<h2>
  This page displays detailed exchange rate information for a selected
  cryptocurrency.
</h2>
<div class="crypto-detail">
  <h2>{{ crypto?.name }} ({{ crypto?.symbol }}) Details</h2>
  <div class="details-container">
    <div class="detail-item">
      <label>Current price:</label>
      <span>{{ crypto?.priceUsd | number: "1.2-2" }} USD</span>
    </div>
    <div class="detail-item">
      <label>Market capitalisation:</label>
      <span>{{ crypto?.marketCapUsd | number: "1.2-2" }} USD</span>
    </div>
    <div class="detail-item">
      <label>Number in circulation:</label>
      <span>{{ crypto?.supply | number: "1.2-2" }}</span>
    </div>
    <div class="detail-item">
      <label>Maximum supply:</label>
      <span>{{ crypto?.maxSupply | number: "1.2-2" }}</span>
    </div>
    <div class="detail-item">
      <label>Volume (24h):</label>
      <span>{{ crypto?.volumeUsd24Hr | number: "1.2-2" }} USD</span>
    </div>
    <div class="detail-item">
      <label>Change (24h):</label>
      <span>{{ crypto?.changePercent24Hr | number: "1.2-2" }} %</span>
    </div>
    <div class="detail-item">
      <label>VWAP (24h):</label>
      <span>{{ crypto?.vwap24hr | number: "1.2-2" }}</span>
    </div>
    <div class="detail-item">
      <label>Explorer:</label>
      <a [href]="crypto?.explorer" target="_blank">{{ crypto?.explorer }}</a>
    </div>
  </div>
</div>
<div class="crypto-calc">
  <h3>{{ crypto?.name }} to USD Conversion</h3>
  <div class="details-container">
    <!-- Input fields for selected Crypto and USD -->
    <div class="detail-item">
      <label>{{ crypto?.name }}:</label>
      <input
        id="bitcoinAmount"
        type="number"
        [(ngModel)]="cryptoAmount"
        (input)="calculateUsdFromCrypto()"
        placeholder="Quantity in {{ crypto?.symbol }}"
        class="input-field"
      />
    </div>

    <div class="detail-item">
      <label>USD:</label>
      <input
        id="usdAmount"
        type="number"
        [(ngModel)]="usdAmount"
        (input)="calculateCryptoFromUsd()"
        placeholder="Amount in USD"
        class="input-field"
      />
    </div>
  </div>
</div>

<h3>Cryptocurrency Exchange Rate</h3>
<p>
  This page displays detailed exchange rate information for a selected
  cryptocurrency
</p>

<div>
  <p-multiSelect
    [options]="currencies || []"
    optionLabel="key"
    [(ngModel)]="selectedCurrencies"
    (onChange)="onCurrencySelected($event.value)"
    placeholder="Select currencies"
  >
  </p-multiSelect>

  <h3>Selected currencies</h3>
  <ul>
    <li *ngFor="let currency of convertedCurrencies">
      {{ currency.key }}: {{ currency.value | number: "1.2-2" }}
    </li>
  </ul>
</div>
