<div class="dialog-title">
  <h1 mat-dialog-title>{{ dialogTitle }}</h1> 
</div>


<mat-dialog-content [formGroup]="form" class="dialog-content">

  <mat-form-field>
      <input matInput
              placeholder="Title"
             formControlName="title"
             class="task-title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date"
          formControlName="dueDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>    
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Priority"
          formControlName="priority">
          <mat-option value="LOW">Low</mat-option>
          <mat-option value="MEDIUM">Medium</mat-option>
          <mat-option value="HIGH">High</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
        <mat-select placeholder="Status"
        formControlName="status">
        <mat-option value="TODO">To Do</mat-option>
        <mat-option value="INPROGRESS">In Progress</mat-option>
        <mat-option value="TOREVIEW">To Review</mat-option>
        <mat-option value="DONE">Done</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description"
        formControlName="description" class="description-area">
    </textarea>
  </mat-form-field>


<button mat-raised-button (click)="fileInput.click()">Datei auswählen</button>
<input #fileInput type="file" style="display: none" (change)="onFileSelected($event)" />

<div *ngIf="task.uploadedFileName">
  Bereits hochgeladen: {{ task.uploadedFileName }}
  <button (click)="getFile(task.id, task.uploadedFileName)">Download</button>
</div>


<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
